* {
  // 所有内容框使用 border-box
  box-sizing: border-box;
  // 禁止用户选择任何内容
  user-select: none;
}

html {
  font-size: 10px;
}

// iconfont 样式引入
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}